

.pfpImage {
    height: 150px;
    border-radius: 50%;
    width : 150px;
    align-content: center;
}


/* XNavClass {
  color: red;
} */
/* 
root: {
  flexGrow: 1,
},
grow: {
  flexGrow: 1,
},
menuButton: {
  marginLeft: -12,
  marginRight: 20,
/* }, */
/* TitleName {
  color: black,
}
LoginButton {
  marginLeft: 12,
  marginRight: 20,
} */ 


